@charset "UTF-8";


@font-face {
    font-family: Sage;
}


:root {
    --cor0: #0E0F0F;
    --cor1: black;
    --cor2: #a3a3a3;
}

*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: var(--cor0);
    color: white;
    height: 1500px;
    position: relative;
}

aside#barra-lateral {
    position: sticky;
    top: -1px;
    background-color: black;
    width: 250px;
    height: 98vh;
    border-right: 0.1em solid rgb(83, 83, 83);
}

#marca {
    padding-bottom: 20px;
}

#title {
    margin: 0px;
}

button {
    background-color: transparent;
    border: transparent;
    color: white;
    margin: 0px 0px 40px 0px;
}

button:hover {
    background-color: rgba(128, 128, 128, 0.151);
}

.sidebar {
    height: 30px;
    width: 30px;
    padding: 0px;
    font-weight: normal;
    
}

ul {
    list-style-type: none;
}


main {
    position: absolute;
    text-align: center;
    height: 98vh;
    
    left: 50%;
    top: 50%;

    transform: translate(-50%, -50%);
}

article {
    width: 975px;
}

img {
    width: 140px;
    padding-left: 150px;
}

#perfil {
    
}

.user {
    text-align: center;
}

#as {

}

nav {
   
}

span {
    font-weight: bold;
}

.name {
 
}


.destaque {
    font-weight: 500;
    color: white;
}

.ndestaque {
    color: var(--cor2);
    font-weight: normal;
}

#follow {
    font-size: small;
    padding-left: 150px ;
}